body{
  background-color: rgb(228, 230, 233);
  margin: 0;
}
.top-nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(211, 219, 227);
  margin-top: 0;
}
.blog-name{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(48, 112, 214);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
}
.first-container{
  background-color: pink;
  border-radius: 10px;
  padding: 8px 9px;
}
.second-container{
  background-color: pink;
  border-radius: 10px;
  padding: 8px 9px;
}
.third-container{
  background-color: pink;
  border-radius: 10px;
  padding: 8px 9px;
}
.fourth-container{
  background-color: pink;
  border-radius: 10px;
  padding: 8px 9px;
}
.first-container h1,
.second-container h1,
.third-container h1,
.fourth-container h1 {
  font-size: 21px;
  padding-left: 8px;
  color: red;
  text-align: center;
  letter-spacing: 1px;
}
.main-container p{
  padding-left: 10px;
  padding-right: 6px;
  padding-bottom: 12px;
}

.style-footer{
  background-color: rgb(26, 138, 243);
  color: white;
  font-style: italic;
  padding: 6px 12px;
  margin-top: 20px;
}

.style-menu-icon{
  height: 35px;
  width: 35px;
  padding: 10px 7px;
  background-color: rgb(217, 222, 226);
}

.style-profile-icon{
  height: 35px;
  width: 35px;
  padding: 10px 7px;
}

/*login page styles start from here*/
.login-page-displayer{
  position: fixed;
  visibility: hidden;
}

/*login page popup styles*/
.styles-login-page{
  visibility: visible;
  height: 450px;
  width: 450px;
  background-color: red;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-top: 150px;
}

.styles-login-page button{
  height: 40px;
  width: 180px;
  margin-top: 20px;
}