body{
  background-color: rgb(228, 230, 233);
  margin: 0;
}
.top-nav{
  background-color: rgb(105, 174, 211);
  margin-top: 0;
}
.blog-name{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.main-container div{
  border: 8px;
}
.first-container{
  background-color: pink;
}
.second-container{
  background-color: pink;
}
.third-container{
  background-color: pink;
}
.fourth-container{
  background-color: pink;
}
.first-container h1,
.second-container h1,
.third-container h1,
.fourth-container h1 {
  font-size: 17px;
  padding-left: 8px;
  color: red;
  text-align: center;
}
.main-container p{
  padding-left: 10px;
  padding-right: 6px;
  padding-bottom: 12px;
}