*{
  background-color: rgb(240, 223, 223);
}
.st-todo-grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
.style-heading{
  font-size: 28px;
  color: rgb(86, 84, 84);
  text-align: center;
  padding-top: 20px;
  line-height: 20px;
  padding-bottom: 30px;
}

.style-input-field{
  height: 40px;
  width: 190px;
  border: solid black 1px;
  border-radius: 8px;
  margin-right: 20px;
  font-size: 17px;
  padding-left: 8px;
}
.style-calendar{
  height: 40px;
  width: 190px;
  border: solid black 1px;
  border-radius: 8px;
  margin-right: 20px;
  font-size: 17px;
}
.st-add-button{
  border: 1px solid black;
  height: 40px;
  width: 160px;
  border-radius: 8px;
  background-color: bisque;
  font-size: 17px;
  font-weight: bold;
}

.st-user-input{
  font-size: 18px; 
}

.st-delete-button{
  height: 20px;
  border: 1px solid black;
}