body{
  background-color: rgb(227, 242, 227);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 200px;
}
.intro{
  text-align: center;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(41, 104, 221);
  font-weight: bold;
}
.tax-info{
  text-align: center;
  font-size: 22px;
  color: rgb(41, 104, 221);
}
.tax-percentage{
  color: red;
}

.food{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}
@media(max-width:600px){
  .food{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(min-width:999px)and (max-width:599){
  .food{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media(min-width:1000px){
  .food{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.item{
  height: 180px;
  width: 160px;
  border: 3px solid rgb(51, 77, 223);
  border-radius: 5px;
  background-color: white;
}
.item p{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.item button{
  margin-left: 45px;
  margin-top: 30px;
  width: 70px;
  height: 35px;
  border-radius: 18px;
  border: none;
  background-color: rgb(52, 52, 250);
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.product-cost{
  margin-top: 5px;
}
.cost-calculator-button{
  height: 50px;
  font-size: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgb(52, 52, 250);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 40px;
}
.cost-indicator{
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  color: rgb(29, 29, 149);
  font-weight: bold;
}
.ordered-items{
  border: 2px solid blue;
  border-radius: 4px;
  width: 400px;
  margin-top: 30px;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px;
}
.orders-list{
  font-size: 18px;
  font-weight: bold;
  color: blue;
}
.orders-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border: 1px solid rgb(14, 53, 207);
  padding: 20px 20px;
  margin: 10px 10px;
  border-radius: 5px;
  align-items: center;
}
.delete-button{
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(37, 114, 230);
  color: white;
  font-size: 17px;
}
